.orgchart{
	position: relative;
	top:50px;
	
}
.orgchart table{ 
	border-collapse:collapse; 
	padding:0; 
	margin:0; 
	top:0; 
	min-width:100%;
}
.orgchart td{ 
	vertical-align:top; 
	text-align:center;
}
.orgchart th{ 
	height:20px; 

}
.orgchart td .right{ 
	border-right:3px solid #08a; 
}
/* .orgchart td .left{ 
	border-left:3px solid #08a; 
} */
.orgchart td .top{   
	border-top:3px solid #08a; 
 }
.orgchart .width-50{   
	width:50%;
}
.orgchart .charttext{
	border:1px solid rgb(0, 0, 0); 
	padding:0px; 
	display:inline-block;
	/* font-size:10px; */
	width: 130px;
                   min-height: 50px;
                  
}
.data1{
	visibility: hidden;

}
/* .data{
	padding:0px 2px;
	margin: -9px 4px;
} */
.orgchart .charttext:hover { 
	background:rgba(161, 255, 152, 0.589); 
	
	/* font-size: 20px; */
}

.image{
	width:130px;
	height:100px;
}
.btn
{
              
                    font-size:15px;
	text-decoration: none;
                  	margin: 15px 70px;
                 	min-width: 90px;
                  
}
.container{
	position: relative;
	background-color: rgba(240, 255, 255, 0.664);
	top: 100px;
}
.body{
	background-image: url('inc/important/background.png');
	/* Full height */
	height: 540px; 

	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
                  }
.file{
	margin: 9px 0px;
}
#edit {
	/* position: relative;
	top:2px; */
	text-decoration: none;
	background-color: rgba(0, 136, 170, 0.322);
}
#add{
	/* position: relative;
	top:2px; */
	text-decoration: none;
	background-color: rgba(0, 136, 170, 0.322);
}
#delete {
	/* position: relative;
	top:2px; */
	text-decoration: none;
	background-color: rgba(0, 136, 170, 0.322);
}